.add-answer {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}



.add-answer__word{
  width: 80%; // 305
  min-height: 25px;
font-size: 24px;
  color: $blue;
  padding-bottom: 5px;
  border-bottom: solid 2px green; // #ff0000;
  margin-bottom: 20px;

}

.add-answer__line {
  ////align: left;
  //width: 200px;
  //size: 2px;
  //color: #ff0000;
}

.add-answer__input{
  margin-bottom: 10px;
  width: 300px;
  height: 40px;
  font-size: 18px;
  margin-right: 20px;
  //border: gray solid 1px;

}
.add-answer__input-wrap{
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet) {
    flex-direction: row;
  }
  @media (min-width: $desktop) {
    font-size: 50px;
  }

}

.add-answer__btn-wrapper{
  display: flex;
  flex-wrap: wrap;
  //width: 500px;
}
//.add-answer__btn-wrapper:last-child{
//  padding-right: 0px;
//}

//.add-answer__btn-next{
//  border: solid 1px black;
//}
//
//.add-answer__btn-show-list{
//  border: solid 1px black;
//
//}
