.btn{
  background-color: #008CBA; /* Blue  #4CAF50;  Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  //display: inline-block;
  font-size: 16px;
  margin-right: 15px;
  margin-bottom: 15px;
  display: flex;
}


//.btn:nth-child(2n){
//  margin-right: 0px;
//}

.btn p {
margin-left: 5px;
  color: pink;
  font-weight: bold;
}

//.btn:last-child{
//  margin-right: 0px;
//}
